@page "/achievements"
@using Recademy.Shared.Dtos.Achievements
@inject HttpClient Http

<h1>Достижения</h1>

@if (MainLayout.User is not null)
{
    <div>
        <p>Kysочков у @MainLayout.User.GithubUsername: @_userPointsCount</p>
    </div>
}

@if (_userAchievements.Count > 0)
{
    <div>
        <ul>
            @foreach (UserAchievementDto achievement in _userAchievements)
            {
                <li>@achievement.Title (@achievement.Points kys)</li>
            }
        </ul>
    </div>
}

<button class="btn btn-primary" @onclick="FillAllAchievements">Все достижения</button>
@if (_allUserAchievements.Count > 0 && _allAchievementsShow)
{
    <div>
        <ul>
            @foreach (UserAchievementDto achievement in _allUserAchievements)
            {
                <li>@achievement.Title (@achievement.Description) - @achievement.Points kysочков</li>
            }
        </ul>
    </div>
}

@code {
    private IReadOnlyCollection<UserAchievementDto> _allUserAchievements = new List<UserAchievementDto>();
    private IReadOnlyCollection<UserAchievementDto> _userAchievements = new List<UserAchievementDto>();
    private int _userPointsCount;
    private bool _allAchievementsShow;

    protected override async Task OnInitializedAsync()
    {
        if (MainLayout.User is null)
            return;

        var userAchievements = await Http.GetFromJsonAsync<IReadOnlyCollection<UserAchievementDto>>($"api/achievements/users/{MainLayout.User.Id}");

        if (userAchievements is not null)
        {
            _userAchievements = userAchievements;
        }

        var userPoints = await Http.GetFromJsonAsync<int>($"api/achievements/users/{MainLayout.User.Id}/points");

        _userPointsCount = userPoints;
    }

    private async Task FillAllAchievements()
    {
        if (_allAchievementsShow)
        {
            _allAchievementsShow = false;
            return;
        }

        var response = await Http.GetFromJsonAsync<IReadOnlyCollection<UserAchievementDto>>("api/achievements/users/list");

        if (response is not null)
        {
            _allUserAchievements = response;
            _allAchievementsShow = true;
        }
    }
}