@page "/projectInfo/{ProjectId:int}"
@using Microsoft.AspNetCore.Html
@using Recademy.BlazorWeb.Dto
@using Recademy.BlazorWeb.Services.Abstraction
@inject IProjectService ProjectService
@inject IReviewService ReviewService
@inject IGithubService GithubService

<style>
    .id {
        color: grey;
    }
    .readme {
        margin: 20px;
        padding: 10px 15px;
        border-style: solid;
        border-color: darkviolet;
        border-width: 2px;
        border-radius: 20px;
    }

    .buttons {
        margin: 20px 0px;
    }
</style>

<div class="mat-h3">
    @projectInfo.ProjectName<span class="id">#@projectInfo.ProjectId</span>
</div>
<hr/>
<div class="content">
    <div class="row">
        <MatChipSet>
            @foreach (string skill in projectInfo.ProjectSkills)
            {
                <MatChip Label="@skill" LeadingIcon="code"></MatChip>
            }
        </MatChipSet>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10 readme">
            @(GithubService.GetReadme(projectInfo.ProjectUrl))
        </div>
    </div>
    <div class="row justify-content-center buttons">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <MatButton Link="@projectInfo.ProjectUrl">
                        <i class="fa fa-github" aria-hidden="true"></i> &nbsp; Github
                    </MatButton>
                </div>
                <div class="col-md-3">
                    <MatButton Raised="true" OnClick="Click" Icon=@Icon>@buttonText</MatButton>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    ProjectDto projectInfo;
    string buttonText { get; set; } = "Revie Request";
    string Icon { get; set; } = "playlist_add";

    protected override void OnInitialized()
    {
        projectInfo = new ProjectDto(ProjectService.GetProjectInfo(ProjectId));
    }

    protected void Click()
    {
        buttonText = "Request added";
        Icon = "playlist_add_check";
        ReviewService.AddReviewRequest(projectInfo.ProjectId);
    }

}
